@font-face {
  font-display: swap;
	font-family: 'Manrope';
	src:  url('../fonts/Manrope-Light.woff2') format('woff2'),
        url('Manrope-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
  font-display: swap;
	font-family: 'Manrope';
	src:  url('../fonts/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/Manrope-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-display: swap;
	font-family: 'Manrope';
	src:  url('../fonts/Manrope-Medium.woff2') format('woff2'),
        url('../fonts/Manrope-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
  font-display: swap;
	font-family: 'Manrope';
	src:  url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
        url('../fonts/Manrope-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
  font-display: swap;
	font-family: 'Manrope';
	src:  url('../fonts/Manrope-Bold.woff2') format('woff2'),
        url('../fonts/Manrope-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
  font-display: swap;
	font-family: 'Manrope';
	src:  url('../fonts/Manrope-ExtraBold.woff2') format('woff2'),
        url('../fonts/Manrope-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

.maketforfigma {
  flex: 0 0 auto;
  background: #313a46;
  font-weight: bold;
  display: flex;
}

.maketforfigma img {
  border-radius: 10px;
  margin: 4px 0 0 4px;
}

.maketforfigma p {
  color: #98a6ad;
  text-decoration: none;
  letter-spacing: .01875rem;
  font-size: .775rem;
  padding: 0 10px;
  line-height: 0.70rem;
}

.maketforfigma p > a {
  color: #bbe4f0;
  font-weight: bold;
}

.maketforfigma p > a:hover {
  color: #ffffff
}

.main {
  flex: 1 0 auto;
}

html {
  height: 100%;
}

/* Global */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}


button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img, source {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-family: 'Manrope', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.15;
  color: #17181C;
  background-color: #F7F4F4;
}

.button {
  display: inline-block;
  min-width: 250px;
  padding: 22px;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  background-color: #FFD300;
  border-radius: 5px;
}

.button:hover {
  background-color: #e9c201;
}

.section__title {
  margin: 0 auto;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.section__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.15;
}

.container {
  padding: 0 20px;
}

/* Header */

.navigation {
  display: none;
}

.header {
  position: relative;
  width: 100%;
  margin-bottom: 17px;
  padding: 28px 0 70px;
  background-image: url('../img/bg-desktop.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #17181C;
  background-size: cover;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(108.11deg, #000000 37.68%, rgba(0, 0, 0, 0) 85.37%);
  opacity: 0.6;
  z-index: 1;
}

.header__wrapper {
  position: relative;
  z-index: 2;
  margin-bottom: 93px;
}

/* burger */

.burger {
  position: absolute;
  top: 0;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #17181C;
  border-radius: 5px;
}

.burger-line {
  position: relative;
  display: block;
  width: 25px;
  height: 20px;
  border-top: 2.5px solid #fff;
  border-bottom: 2.5px solid #fff;
  z-index: 3;
}

.burger-line::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 7px;
  left: 0;
  border-top: 2.5px solid #fff;
}

/*  Popup menu  */

.header__menu-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 28px 46px 65px;
  background-color: #17181C;
  z-index: 5;
}

.header__menu-popup-close {
  display: none;
}

.popup__content {
  max-width: 500px;
  margin: 0 auto;
}

.close-button {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 32px;
  height: 32px;
  z-index: 6;
}

.header-close-line {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.header-close-line:first-child {
  transform: translateY(-50%) rotate(-45deg);
}

.header-close-line:last-child {
  transform: translateY(-50%) rotate(45deg);
}

.popup-navigation__list {
  margin-top: 25%;
  margin-bottom: 20%;
  text-align: center;
}

.popup-navigation__link {
  font-weight: 800;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
}

.popup-navigation__tel {
  display: block;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

.popup-callback {
  display: block;
  margin: 0 auto;
  padding: 12px 28px;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  background-color: #5BBFC8;
  border-radius: 5px;
}

.header__content {
  position: relative;
  width: 100%;
  max-width: 652px;
  z-index: 2;
}

.main__title {
  font-weight: 800;
  font-size: 33px;
  line-height: 45px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-title__text {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.header-button {
  padding: 22px 58px 22px 19px;
  background-image: url('../svg/racing-icon.svg');
  background-repeat: no-repeat;
  background-position: right 17px center;
  background-size: 33px;
}

/* Modal */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

.modal__close {
  display: none;
}

.modal__content {
  position: absolute;
  max-width: 426px;
  padding: 163px 60px 92px;
  background-color: #555659;
}

.modal-close-button {
  position: absolute;
  top: 125px;
  right: 63px;
  width: 20px;
  height: 20px;
}

.modal-close-line {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.modal-close-line:first-child {
  transform: translateY(-50%) rotate(-45deg);
}

.modal-close-line:last-child {
  transform: translateY(-50%) rotate(45deg);
}

.modal__title {
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;
  color: #FFFFFF;
}

.modal__label {
  display: block;
  margin-bottom: 10px;
  padding-left: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
}

.modal__phone {
  width: 100%;
  margin-bottom: 30px;
  padding: 22px 24px;
  background-color: #FFFFFF;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #17181C;
}

.modal__phone::placeholder {
  font: inherit;
  color: #17181C;
}

.modal-button {
  display: block;
  margin: 0 auto;
}

/*  Price  */

.price {
  margin-bottom: 34px;
}

.services {
  margin-bottom: 10px;
  padding: 17px 14px 23px;
  background-image: url('../img/mob-remont-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.services-button {
  display: inline-block;
  margin-bottom: 46px;
  padding: 7px 11px;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #5F6166;
  background-color: #D3D4D6;
  border-radius: 5px;
}

.services__title {
  width: 100%;
  max-width: 231px;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #000000
}

.services__title::after {
  content: '';
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 88px;
  height: 7px;
  background: #171717;
  border-radius: 5px;
}

.services__text {
  width: 100%;
  max-width: 300px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.price__item {
  margin-bottom: 10px;
  padding: 50px 19px 31px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: right 8px bottom;
  background-size: 102px;
}

.price__item-cars {
  background-image: url('../img/001-sedan.png');
  background-color: #FFD300;
}

.price__item-jeep {
  color: #FFFFFF;
  background-image: url('../img/002-jeep.png');
  background-color: #4B5257;
}

.price__item-commercial {
  background-image: url('../img/003-truck.png');
  background-color: #5BBFC8;
}

.price__link {
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px 8px;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #534407;
  border-radius: 5px;
}

.price__link-cars {
  background-color: #DEB905;
}

.price__link-jeep {
  color: #FFFFFF;
  background-color: #B0B0B0;
}

.price__link-commercial {
  background-color: #49A1A9;
}

.price__title {
  max-width: 190px;
  font-weight: 800;
  font-size: 19px;
  line-height: 25px;
}

.price__title-jeep {
  color: #FFFFFF;
}


/* Corporate */

.corporate__title {
  margin-bottom: 5px;
  text-align: center;
}

.promo {
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: 39px;
  text-align: center;
}

.promo-button {
  min-width: 88px;
  padding: 7px 10px;
  font-size: 18px;
}

.corporate__list {
  margin-bottom: 16px;
}

.corporate__item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 19px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.corporate__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #171717;
  border-radius: 5px;
}

.corporate__content {
  padding: 0 20px;
}

.corporate__form {
  max-width: 400px;
  margin: 0 auto;
}

.corporate__label {
  color: #17181C;
}

.corporate__phone {
  margin-right: 10px;
}

.corporate__image {
  object-fit: cover;
}

.corporate-button {
  display: block;
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* Advantages */

.advantages {
  min-height: 100vh;
  padding-top: 42px;
  padding-bottom: 70px;
  background-image: url(../img/advantages-bg-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.advantages__content {
  max-width: 330px;
  margin: 0 auto;
}

.advantages__title {
  margin-bottom: 60px;
  text-align: center;
}

.advantages__list {
  display: grid;
  grid-template-rows: repeat(4, minmax(69px, 1fr));
  max-width: 319px;
}

.advantages__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  border-bottom: 1px dashed #000000;
}

.advantages__image {
  margin-top: 44px;
  margin-bottom: 65px;
}

/*  Application  */

.application {
  background-color: #FFD300;
  padding: 75px 0 70px 0;
}

.application__title {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
}

.application__form {
  max-width: 400px;
  margin: 0 auto;
}

.application-button {
  display: block;
  margin: 0 auto;
  background-color: #17181C;
  color: #FFFFFF;
}

.application-button:hover {
  background-color: #323232;
}

.application-button:active {
  background-color: #afafaf;
}

/*  Addition  */

.addition {
  padding: 46px 0 38px 0;
}

.additional__title {
  margin-bottom: 45px;
}

.addition__list {
  max-width: 354px;
  margin: 0 auto 24px auto;
}

.addition__item {
  margin-left: 20px;
  list-style-type: disc;
  line-height: 35px;
}

.addition__image {
  margin: 0 auto;
}

/*  Map  */

.map {
  color: #FFFFFF;
  margin-bottom: 36px;
}

.map__wrapper {
  padding: 54px 20px 83px 20px;
  background-image: url(../img/map-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #171717;
}

.map__content {
  max-width: 367px;
  margin: 0 auto;
}

.map__title {
  margin-bottom: 70px;
}

.map__text {
  position: relative;
  padding-left: 74px;
  font-weight: 600;
  font-size: 18px;
}

.map__text::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 34px;
  height: 34px;
  background: #D07C75;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}

.map__image {
  width: 100%;
  min-height: 430px;
}

/*  Pricing  */

.range {
  display: none;
}

.pricing {
  margin-bottom: 55px;
}

.pricing__title {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;
}

.stroke-wrapper {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.stroke {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.stroke + .stroke {
  margin-top: 5px;
}

.text-left {
  margin-right: 20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.2;
}

.text-right {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: right;
  white-space: nowrap;
}

.pricing-button {
  display: block;
  margin: 0 auto;
}

/*  Select  */

.select__wrapper {
  display: flex;
  align-items: center;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 17px;
}

.select__text {
  margin-right: 14px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.select {
  position: relative;
  flex-grow: 1;
  z-index: 1;
}

.select-button {
  display: grid;
  grid-template-columns: 1fr 50px;
  padding: 11px 18px;
  padding-right: 0;
  font-size: 16px;
  color: #000000;
  background-color: #E5E5E5;
  border-radius: 5px;
  cursor: default;
  user-select: none;
}

.select-button::-webkit-details-marker {
  display: none;
}

.select-button::after {
  content: "";
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../svg/select-icon.svg");
}

.select[open] .select-button::after {
  transform: rotate(180deg);
}

.select-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  margin: 0;
  border-radius: 5px;
}

.select-option {
  display: block;
  padding: 8px 20px;
  font-size: 16px;
  color: #000000;
  background-color: #c4c4c4;
}

.select-option:hover {
  background-color: #f2f2f2;
}

.select-option:active {
  background-color: #e2e2e2;
}

/*  Feedback  */

.feedback {
  margin-bottom: 40px;
}

.feedback__container {
  max-width: 520px;
  margin: 0 auto;
  padding: 0 20px;
}

.feedback__title {
  max-width: 375px;
  margin-bottom: 30px;
}

.feedback__item {
  margin-bottom: 30px;
}

.feedback__video {
  width: 100%;
  max-width: 520px;
  min-height: 233px;
  max-height: 250px;
  margin-bottom: 30px;
  padding: 87px 135px;
  background-image: url(../svg/video-play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #C4C4C4;
  border-radius: 5px;
}

.feedback__subtitle {
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 22px;
}

.feedback__text {
  font-weight: 300;
  font-size: 18px;
}

/*  Partners  */

.partners {
  margin-bottom: 57px;
}

.partners__container {
  padding: 0 20px;
}

.partners__list-desktop {
  display: none;
}

.partners__title {
  margin-bottom: 30px;
}

.partners__list-mobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 139px);
  gap: 12px;
  margin-bottom: 13px;
}

.partners__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 2px solid rgba(73, 104, 129, 0.1);
  border-radius: 10px;
}

.partners__link:focus {
  outline: none;
}

.partners-button__group {
  display: flex;
  justify-content: flex-end;
}

.partners-button {
  width: 55px;
  height: 55px;
  background-color: #FFFFFF;
  border: 2px solid rgba(73, 104, 129, 0.1);
  box-shadow: 0px 4px 20px rgba(73, 104, 129, 0.1);
  background-image: url(../svg/arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.partners-button-prev {
  transform: rotate(180deg);
}

.partners-button + .partners-button {
  margin-left: 17px;
}

/*  Footer  */

.footer {
  color: #FFFFFF;
  background-color: #171717;
}

.footer__container {
  padding: 102px 40px 40px;
  margin: 0 auto;
  text-align: center;
}

.logo-footer {
  margin: 0 auto;
  margin-bottom: 47px;
}

.phone {
  margin-bottom: 26px;
}

.contacts__phone {
  display: inline-block;
  padding-left: 20px;
  font-weight: 800;
  font-size: 18px;
  color: #FFD300;
  background-image: url(../svg/phone-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.whatsapp {
  margin-bottom: 57px;
}

.contacts__whatsapp {
  display: inline-block;
  padding: 14px 24px;
  font-weight: 800;
  font-size: 14px;
  color: #FFD300;
  border: 1px solid #FFD200;
  border-radius: 5px;
}

.footer-navigation__list {
  margin-bottom: 68px;
}

.footer-navigation__item {
  margin-bottom: 20px;
}

.footer-navigation__item:last-child {
  margin-bottom: 0;
}

.footer-navigation__link {
  font-weight: 800;
  font-size: 18px;
  color: #FFFFFF;
}

.footer-logo__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  padding: 23px 20px 38px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}




@media (max-width: 359px) {

  .price__title {
    max-width: 145px;
    font-size: 16px;
  }
}

@media (max-width: 375px) {

  .header {
    background-image: url(../img/bg-mobile.jpg);
    background-color: #17181C;
  }

  .modal__phone {
    font-size: 14px;
  }

  .modal__content {
    padding-left: 15px;
    padding-right: 15px;
  }

}

@media (min-width: 675px) {

  .price__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
  }

  .price__item {
    width: calc(50% - 5px);
  }

}

@media (min-width: 768px) {

  .feedback__container {
    max-width: 1100px;
  }

  .feedback__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .feedback__item {
    width: calc(50% - 10px);
    margin-bottom: 0;
  }

}

@media (min-width: 960px) {

  .price {
    position: relative;
    display: grid;
    grid-template-columns: 38% 60%;
    gap: 10px;
    max-width: 1058px;
    margin-bottom: 91px;
    z-index: 1;
  }

  .services {
    padding: 66px 20px 66px 44px;
    margin-bottom: 0;
  }

  .services-button {
    display: none;
  }

  .price__item {
    height: 100%;
    padding: 16px;
    flex-wrap: nowrap;
    width: calc(33% - 5px);
    background-position: left 16px bottom;
    background-size: 108px;
  }

  .price__link {
    margin-bottom: 13px;
  }
}

@media (min-width: 1024px) {

  body {
    max-width: 1920px;
  }

  .section__title {
    font-size: 45px;
  }

  .section__text {
    font-size: 22px;
  }

  .header {
    padding: 16px 0 170px;
  }

  .header__wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
    margin-bottom: 82px;
  }

  .logo-header {
    margin-right: 40px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
  }

  .navigation__item:not(:last-child) {
    margin-right: 25px;
  }

  .navigation__link {
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
  }

  .navigation__tel {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
  }

  .callback {
    padding: 18px 40px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    background-color: #5BBFC8;
    border-radius: 5px;
  }

  .callback:hover {
    background-color: #4fa5ad;
  }

  .burger {
    display: none;
  }

  .header__content {
    max-width: 640px;
  }

  .main__title {
    font-size: 64px;
    line-height: 1.25;
  }

  .header-title__text {
    font-size: 18px;
    line-height: 25px;
  }

  .price {
    margin-top: -109px;
  }

  .corporate__wrapper {
    display: flex;
  }

  .corporate__title {
    margin-bottom: 16px;
  }

  .promo-button {
    min-width: 102px;
    margin-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 22px;
  }

  .corporate {
    margin-bottom: 42px;
  }

  .corporate__item {
    font-size: 22px;
  }

  .corporate__content {
    order: 1;
  }

  .corporate__image {
    margin-right: 3%;
  }

  .corporate__list {
    margin-bottom: 45px;
  }

  .corporate__form {
    max-width: 350px;
    padding-left: 21px;
  }

  .advantages {
    padding-top: 94px;
    padding-bottom: 233px;
  }

  .advantages__title {
    max-width: 775px;
    margin: 0 auto;
    margin-bottom: 150px;
  }

  .advantages__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1060px;
  }

  .advantages__list {
    width: 30%;
    grid-template-rows: repeat(4, minmax(100px, 1fr));
  }

  .advantages__image {
    margin: auto;
  }

  .advantages__text {
    padding-left: 35px;
  }

  .advantages__image {
    position: relative;
    top: 30px;
  }

  .application {
    margin-bottom: 94px;
    padding: 128px 0 107px 0;
    background-image: url(../img/dots.svg),
                      url(../img/dots.svg);
    background-repeat: no-repeat;
    background-position: left bottom 59px, right center;
  }

  .application__container {
    max-width: 714px;
    margin: 0 auto;
  }

  .application__form {
    max-width: 618px;
  }

  .application__form-group {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 18px;
  }

  .application__phone {
    margin-bottom: 0;
  }

  .addition {
    max-width: 970px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 118px;
  }

  .additional__title {
    margin-bottom: 71px;
  }

  .addition__content {
    display: flex;
  }

  .addition__list {
    margin-left: auto;
    margin-right: 0;
    width: 37%;
    order: 1;
  }

  .addition__image {
    margin-right: auto;
    margin-left: 0;
  }

  .map {
    display: flex;
    margin-bottom: 92px;
  }

  .map__title {
    position: relative;
    margin-bottom: 87px;
    text-align: left;
  }

  .map__title::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 100%;
    left: -30px;
    bottom: 0;
    background: #FFFFFF;
    border-radius: 5px;
  }

  .map__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-left: 77px;
    background-image: url(../img/map-bg.png);
    background-repeat: no-repeat;
    background-color: #171717;
  }

  .map__content {
    max-width: 450px;
    margin: 0;
  }

  .map__image {
    width: 50%;
  }

  .pricing {
    margin-bottom: 92px;
  }

  .pricing__wrapper {
    max-width: 829px;
    margin: 0 auto;
  }

  .pricing__title {
    max-width: 650px;
    margin-bottom: 70px;
  }

  .select__wrapper {
    display: none;
  }

  .range {
    display: grid;
    grid-template-columns: auto 454px;
    grid-template-rows: auto 35px;
    max-width: 652px;
    margin: 0 auto;
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
  }

  .range-scale {
    grid-column: 2 / -1;
    display: flex;
    justify-content: space-between;
  }

  .range-item {
    font-size: 18px;
  }

  .range-item-current {
    font-weight: 800;
    color: #000000;
  }

  .range-label {
    align-self: center;
  }

  .range-slider {
    align-self: center;
  }

  .range-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    background-color: #EBE9E9;
    border-radius: 5px;
  }

  .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #FFD300;
    cursor: pointer;
    outline: 7px solid rgba(255, 211, 0, 0.3);
    border-radius: 50%;
  }

  .range-slider::-webkit-slider-thumb:hover {
    outline: 10px solid rgba(255, 211, 0, 0.1);
  }

  .range-slider::-moz-range-thumb {
    width: 11px;
    height: 11px;
    background: #FFD300;
    border: none;
    outline: 7px solid rgba(255, 211, 0, 0.3);
    cursor: pointer;
    border-radius: 50%;
  }

  .range-slider::-moz-range-thumb:hover {
    outline: 10px solid rgba(255, 211, 0, 0.1);
  }

  .stroke-wrapper {
    width: 100%;
    max-width: 829px;
    margin: 0 auto;
    margin-bottom: 68px;
  }

  .stroke {
    display: flex;
    justify-content: space-between;
    padding: 9px 30px;
    background-color: rgba(23, 24, 28, 0.05);
    border-radius: 5px;
  }

  .stroke + .stroke {
    margin-top: 5px;
  }

  .feedback {
    margin-bottom: 92px;
  }

  .feedback__title {
    max-width: 675px;
  }

  .partners {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 170px;
    padding: 0 20px;
  }

  .partners__title {
    margin-bottom: 87px;
  }

  .partners__list-mobile {
    display: none;
  }

  .partners__list-desktop {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 175px);
    gap: 12px;
  }

  .partners-button {
    width: 32px;
    height: 32px;
  }

  .partners-button + .partners-button {
    margin-left: 10px;
  }

  .footer {
    background-image: url(../svg/decor-footer.svg);
    background-position: 50% calc(50% - 180px);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .footer__container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "logo list phone"
      ". social whatsapp";
      row-gap: 20px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 48px 20px 35px;
  }

  .logo {
    grid-area: logo;
  }

  .logo-footer {
    margin: 0;
  }

  .footer-navigation__list {
    grid-area: list;
    align-self: self-end;
    justify-self: self-end;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .footer-navigation__item {
    margin-right: 33px;
    margin-bottom: 0;
  }

  .phone {
    grid-area: phone;
    align-self: self-end;
    justify-self: self-end;
    margin-bottom: 0;
  }

  .whatsapp {
    grid-area: whatsapp;
    margin-bottom: 0;
  }

  .footer-logo__list {
    grid-area: social;
    justify-self: self-end;
    align-self: self-end;
    padding-right: 27px;
  }

  .footer__copyright {
    padding: 11px 0;
  }


}







